USE [master]
GO
/****** Object:  Database [English_center]    Script Date: 4/24/2023 10:52:43 PM ******/
CREATE DATABASE [English_center]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'English_center', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\English_center.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'English_center_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\English_center_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [English_center].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [English_center]
GO
/****** Object:  Table [dbo].[Classes]    Script Date: 4/24/2023 10:52:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classes](
	[id] [varchar](255) NOT NULL,
	[CourseName] [varchar](255) NULL,
	[Status] [varchar](255) NULL,
	[Teacher_Name] [varchar](255) NULL,
	[Quantity] [varchar](255) NULL,
 CONSTRAINT [PK_Class] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 4/24/2023 10:52:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[id] [varchar](255) NOT NULL,
	[CourseName] [varchar](255) NULL,
	[Duration] [varchar](255) NULL,
	[StartDay] [smalldatetime] NULL,
	[EndDay] [smalldatetime] NULL,
	[Description] [varchar](255) NULL,
	[Language] [varchar](255) NULL,
	[NameTeacher] [varchar](255) NULL,
	[Price] [varchar](255) NULL,
	[Level] [varchar](255) NULL,
	[Teachinghours] [varchar](255) NULL,
	[Status] [varchar](255) NULL,
 CONSTRAINT [PK_Courses] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 4/24/2023 10:52:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[id] [varchar](255) NOT NULL,
	[PaymentDate] [smalldatetime] NULL,
	[Paymentmethod] [varchar](255) NULL,
	[CourseName] [varchar](255) NULL,
	[Name] [varchar](255) NULL,
	[Price] [varchar](255) NULL,
	[Paymentinfo] [varchar](255) NULL,
	[DueDate] [smalldatetime] NULL,
	[Status] [varchar](255) NULL,
	[Debt] [varchar](255) NULL,
	[Paid] [varchar](255) NULL,
 CONSTRAINT [PK_Payment] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staffs]    Script Date: 4/24/2023 10:52:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staffs](
	[id] [varchar](255) NOT NULL,
	[Name] [varchar](255) NULL,
	[Phone] [varchar](255) NULL,
	[Dateofbirth] [smalldatetime] NULL,
	[Address] [varchar](255) NULL,
	[Sex] [varchar](255) NULL,
	[Position] [varchar](255) NULL,
	[Class_Name] [varchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 4/24/2023 10:52:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[id] [nvarchar](255) NOT NULL,
	[Fullname] [nvarchar](255) NULL,
	[Sex] [nchar](10) NULL,
	[dateofbirth] [smalldatetime] NULL,
	[phone] [nvarchar](255) NULL,
	[Class_Name] [nvarchar](255) NULL,
	[Address] [nvarchar](255) NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 4/24/2023 10:52:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [varchar](255) NOT NULL,
	[username] [varchar](255) NOT NULL,
	[fullname] [varchar](255) NULL,
	[phone] [varchar](255) NULL,
	[dateofbirth] [date] NULL,
	[password] [varchar](255) NULL,
	[position] [varchar](255) NULL,
	[sex] [varchar](255) NULL,
	[address] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC,
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
